<nav class="navbar" @flyIn [attr.aria-label]="'Mythical University'">
  <ul class="nav" role="menubar" [attr.aria-label]="'Mythical University'">
    <!-- <li *ngFor="let menuitem of menu$ | async"> -->
    <li class="nav-item" *ngFor="let menuitem of menu$; first as isFirst;" role="none">
      <a class="nav-link" [routerLink]="menuitem.path" role="menuitem" aria-haspopup="true" aria-expanded="false"
        tabindex="{{isFirst ? 0 : -1}}">
        {{menuitem.name}}
      </a>
      <ul class="nav-child" *ngIf="menuitem?.children" role="menu" [attr.aria-label]="menuitem.name">
        <li class="nav-item" *ngFor="let submenuitem of menuitem.children" role="none">
          <a class="nav-link" [routerLink]="[menuitem.path, submenuitem.path]" role="menuitem" tabindex="-1">
            {{submenuitem.name}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<button class="btn btn-primary">
  Welcome
</button>